
*.a
bin/*
.cache
compile_commands.json
*.err
*.o
*.out
out
obj/lib/*
obj/test/*
results/leonardo/2025_02_07___17_49_20/
results/leonardo/2025_02_07___18_09_10/
results/leonardo/2025_02_07___19_49_27/
results/leonardo/2025_02_07___20_12_37/
results/leonardo/2025_02_08___20_42_15/
results/local/*
results/local_metadata.csv
config/*_env.sh
results/leonardo/2025_02_10___14_49_40/
results/lumi/2025_02_10___19_09_38/
results/lumi/2025_02_10___19_37_28/
