
*.a
.cache
compile_commands.json
bin/
obj/
lib/
plot/lumi/
plot/local/
plot/leonardo/
*.err
*.o
*.out
results/local/*
results/local_metadata.csv
config/test/*_env.sh
results/lumi/2025_02_25___16_44_28/
results/lumi/2025_02_25___16_55_27/
